:root {
  --date-text: #737373;
  --bg-color: pink;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.polaroid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Quicksand", serif;
  margin-top: -20px;
}

.polaroid-top {
  display: flex;
  justify-content: center;
}

.polaroid-top img {
  width: 60%;
  z-index: 1;
}

.polaroid-pic {
  display: flex;
  align-items: center;
}

.polaroid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  background-color: var(--bg-color);
  border-radius: 15px;
  width: 46%;
  margin-top: -17%;
}

.polaroid-frame {
  border: 2px solid white;
  background-color: white;
  border-radius: 10px;
  width: 80%;
  z-index: 1;
}

.dedication-letter {
  margin-top: 20px;
  width: 70%;
  font-size: clamp(3rem, 5vw, 8rem);
  text-align: center;
  font-family: 'Dancing Script', cursive;
  /* color: var(--date-text); */
}

.quick-recap {
  font-family: "Quicksand", serif;
  font-size: 1.2rem;
  margin-top: 60px;
  width: 80%;
  text-align: center;
}

.pola-cam {
  width: 110%;
}

.pola-pic {
  padding: 4% 3%;
  height: 10%; 
  width: 100%; 
  max-width: 400px; 
  object-fit: cover;
  aspect-ratio: 1;
  opacity: 95%;
}

.polaroid-text-caption {
  padding-left: 4%;
  padding-bottom: 2%;
  font-size: 18px;
}

.polaroid-text-date {
  text-align: right;
  padding-right: 4%;
  font-size: 14px;
  color: var(--date-text);
}

.fave-pic-text {
  text-align: center;
  padding-bottom: 2%;
}

.last {
  margin-bottom: 5%;
}

.polaroid-frame {
  transition: transform 0.2s ease-in-out;
  box-shadow: 10px 10px 6px #ffd1dc; 
}

.polaroid-frame:hover {
  animation: bounce 0.5s ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); 
  }
  100% {
    transform: translateY(0);
  }
}

.last-message {
  margin-top: 1%;
  font-family: 'Dancing Script', cursive;
  font-size: clamp(2rem, 4vw, 4rem);
  text-align: center;
  width: 80%;
}

.letter-btn {
  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: 700;
  padding: 4px 40px;
  border-radius: 50px;
  background-color: #d90166;
  border: none;
  margin: 2% 0 2% 0;
}

.received-letter-last {
  font-family: "Quicksand", serif;
  font-size: 1.2rem;
  margin-top: 30px;
  color: var(--date-text);
}

.letter-btn a {
  text-decoration: none;
  color: #fff;
}

.email-pic {
  margin-top: -10px;
  width: 100px;
  opacity: 70%;
}

@media (min-width: 768px) {
  .polaroid {
    margin-top: -62px;
  }

  .email-pic {
    width: 160px;
    opacity: 70%;
  }
}