* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;;
}

body { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: pink;
}

.valentines-main {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.valentines-main-top {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.valentines-main-top p {
  margin-bottom: 4%;
  font-size: clamp(3rem, 5vw, 8rem);
  text-align: center;
  font-weight: 550;
}

.valentines-main-popup .next-btn {
  /* display: none; */
  opacity: 0;
  background-color: #d90166;
  color: #fff;
  border: #fff solid;
  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: 700;
  padding: 4px 40px;
  border-radius: 50px;
  transition: opacity 1s ease-in-out;  /* Transition for opacity */
}

.valentines-main-popup .next-btn.show {
  opacity: 1;  
}


.valentines-main-bottom button {
  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: 700;
  padding: 4px 40px;
  border-radius: 10px;
  background-color: #d90166;
  color: #fff;
  border: #fff solid;
}

.no-btn {
  margin-left: 10px;
}

.yes-btn {
  margin-right: 10px;
}
